@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #262626;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: (5, 1fr);
  grid-template-rows: (12, 1fr);
}

body > * {
  padding: 0 20px;
}

header {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#game-specs {
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

#gameBoard {
  grid-column: 1 / 6;
  grid-row: 4 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#start-game {
  grid-column: 1 / 6;
  grid-row: 11 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  grid-column: 1 / 6;
  grid-row: 12 / 13;
}

.gameBlocks {
  width: 40%;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  cursor: grab;
}

.row {
  display: flex;
  height: 46%;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.row.hard {
  height: 30%;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}

/* cartoon themes (default theme) */
#top-left {
  background: #74bf04;
  border: #74bf04 solid 3px;
}

#top-middle {
  background: #A50CE8;
  border: #A50CE8 solid 3px;
}

#top-right {
  background: #FF8000;
  border: #FF8000 solid 3px;
}

#middle-left {
  background: #FFA900;
  border: #FFA900 solid 3px;
}

#middle-middle {
  background: #00FFFF;
  border: #00FFFF solid 3px;
}

#middle-right {
  background: #80FF00;
  border: #80FF00 solid 3px;
}

#bottom-left {
  background: #ff36af;
  border: #ff36af solid 3px;
}

#bottom-middle {
  background: #FFFF00;
  border: #FFFF00 solid 3px;
}

#bottom-right {
  background: #1ea4d9;
  border: #1ea4d9 solid 3px;
}

.active#top-left {
  background: #bbfa5c;
}

.active#top-middle {
  background: #cc6af7;
}

.active#top-right {
  background: #fffc36;
}

.active#middle-left {
  background: #f7c767;
}

.active#middle-middle {
  background: #aff7f7;
}

.active#middle-right {
  background: #baf87c;
}

.active#bottom-left {
  background: #fa86cb;
}

.active#bottom-middle {
  background: #f8f7a7;
}

.active#bottom-right {
  background: #00ffff;
}

#top-left:hover {
  border: #63a303 solid 3px;
}

#top-middle:hover {
  border: #64068d solid 3px;
}

#top-right:hover {
  border: #d48e01 solid 3px;
}

#middle-left:hover {
  border: #bb6b01 solid 3px;
}

#middle-middle:hover {
  border: #019494 solid 3px;
}

#middle-right:hover {
  border: #4d9901 solid 3px;
}

#bottom-left:hover {
  border: #df0286 solid 3px;
}

#bottom-middle:hover {
  border: #a7a702 solid 3px;
}

#bottom-right:hover {
  border: #16759b solid 3px;
}

#startBtn {
  background: #c90fee;
  width: 25%;
  border-radius: 10px;
  font-size: 1.8rem;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  cursor: grab;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media (max-width: 650px) {
  .row {
    width: 85%;
  }
  #startBtn {
    font-size: 1.5rem;
  }
}

/* classic theme */
.classicTheme#top-left {
  background: #3edd4b;
  border: #3edd4b solid 3px;
}

.classicTheme#top-right {
  background: #dd4b3e;
  border: #dd4b3e solid 3px;
}

.classicTheme#bottom-left {
  background: #ffea37;
  border: #ffea37 solid 3px;
}

.classicTheme#bottom-right {
  background: #2a19e7;
  border: #2a19e7 solid 3px;
}

.classicTheme.active#top-left {
  background: #8ff899;
}

.classicTheme.active#top-right {
  background: #f78d83;
}

.classicTheme.active#bottom-left {
  background: #faed8e;
}

.classicTheme.active#bottom-right {
  background: #62c0fa;
}

.classicTheme#top-left:hover {
  border: #1e6d25 solid 3px;
}

.classicTheme#top-right:hover {
  border: #b41506 solid 3px;
}

.classicTheme#bottom-left:hover {
  border: #cab605 solid 3px;
}

.classicTheme#bottom-right:hover {
  border: #0c0188 solid 3px;
}

/* farm theme */
.farmTheme#top-left {
  background: #3edd4b;
  border: #3edd4b solid 3px;
}

.farmTheme#top-right {
  background: #dd4b3e;
  border: #dd4b3e solid 3px;
}

.farmTheme#bottom-left {
  background: #ffea37;
  border: #ffea37 solid 3px;
}

.farmTheme#bottom-right {
  background: #2a19e7;
  border: #2a19e7 solid 3px;
}

.farmTheme.active#top-left {
  background-image: url("../../images/cow.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7ddd85;
}

.farmTheme.active#top-right {
  background-image: url("../../images/cock.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d87b73;
}

.farmTheme.active#bottom-left {
  background-image: url("../../images/horse.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcef79;
}

.farmTheme.active#bottom-right {
  background-image: url("../../images/sheep.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5e89e6;
}

.farmTheme#top-left:hover {
  border: #1e6d25 solid 3px;
}

.farmTheme#top-right:hover {
  border: #b41506 solid 3px;
}

.farmTheme#bottom-left:hover {
  border: #cab605 solid 3px;
}

.farmTheme#bottom-right:hover {
  border: #0c0188 solid 3px;
}

/* electro theme*/
.electroTheme#top-left {
  background: #28857B;
  border: #28857B solid 3px;
}

.electroTheme#top-middle {
  background: #FF3692;
  border: #FF3692 solid 3px;
}

.electroTheme#top-right {
  background: #F28705;
  border: #F28705 solid 3px;
}

.electroTheme#middle-left {
  background: #1CFFFB;
  border: #1CFFFB solid 3px;
}

.electroTheme#middle-middle {
  background: #FFB751;
  border: #FFB751 solid 3px;
}

.electroTheme#middle-right {
  background: #8d035d;
  border: #8d035d solid 3px;
}

.electroTheme#bottom-left {
  background: #F22259;
  border: #F22259 solid 3px;
}

.electroTheme#bottom-middle {
  background: #040DBF;
  border: #040DBF solid 3px;
}

.electroTheme#bottom-right {
  background: #06F2A9;
  border: #06F2A9 solid 3px;
}

.electroTheme.active#top-left {
  background: #63f7e8;
}

.electroTheme.active#top-middle {
  background: #f587b8;
}

.electroTheme.active#top-right {
  background: #ebbc84;
}

.electroTheme.active#middle-left {
  background: #c3f5f4;
}

.electroTheme.active#middle-middle {
  background: #f5d7ad;
}

.electroTheme.active#middle-right {
  background: #f739b4;
}

.electroTheme.active#bottom-left {
  background: #f37496;
}

.electroTheme.active#bottom-middle {
  background: #6c73f1;
}

.electroTheme.active#bottom-right {
  background: #98e9cf;
}

.electroTheme#top-left:hover {
  border: #02685e solid 3px;
}

.electroTheme#top-middle:hover {
  border: #d60261 solid 3px;
}

.electroTheme#top-right:hover {
  border: #b16201 solid 3px;
}

.electroTheme#middle-left:hover {
  border: #029491 solid 3px;
}

.electroTheme#middle-middle:hover {
  border: #ca7702 solid 3px;
}

.electroTheme#middle-right:hover {
  border: #4d0032 solid 3px;
}

.electroTheme#bottom-left:hover {
  border: #9e012b solid 3px;
}

.electroTheme#bottom-middle:hover {
  border: #020658 solid 3px;
}

.electroTheme#bottom-right:hover {
  border: #018057 solid 3px;
}

