@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: #262626;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-template-columns: (5, 1fr);
    grid-template-rows: (7, 1fr);
}

body > * {
    padding: 0 20px;
}

header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-specs {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#gameBoard {
    grid-column: 1 / 6;
    grid-row: 3 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#start-game {
    grid-column: 1 / 6;
    grid-row: 6 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
}

.gameBlocks {
    width: 40%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    cursor: grab;
}

.row {
    display: flex;
    height: 46%;
    width: 60%;
    align-items: center;
    justify-content: center;
}

#top-left {
    background: #74BF04;
    border: #74BF04 solid 3px;
}

#top-right {
    background: #FFA900;
    border: #FFA900 solid 3px;
}

#bottom-left {
    background: #FF36AF;
    border: #FF36AF solid 3px;
}

#bottom-right {
    background: #1EA4D9;
    border: #1EA4D9 solid 3px;
}

.active#top-left {
    background: #bbfa5c;
}

.active#top-right {
    background: #FFFC36;
}

.active#bottom-left {
    background: #fa8fd1;
}

.active#bottom-right {
    background: #00FFFF;
}

#top-left:hover {
    border: #63a303 solid 3px;
}

#top-right:hover {
    border: #d48e01 solid 3px;
}

#bottom-left:hover {
    border: #c40377 solid 3px;
}

#bottom-right:hover {
    border: #16759b solid 3px;
}

#startBtn {
    background: #A50CE8;
    width: 25%;
    border-radius: 10px;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    cursor: grab;
}

@media (max-width: 650px) {
    .row {
        width: 85%;
    }
}
