@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #262626;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: (5, 1fr);
  grid-template-rows: (12, 1fr);
}

body > * {
  padding: 0 20px;
}

header {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h1 span {
  font-size: 3.5rem;
  margin-top: 8%;
  display: block;
  background-image: linear-gradient(
    135deg,
    #ff8000,
    #00ffff,
    #ffff00,
    #ff0080,
    #80ff00,
    #ff8000,
    #ffff00
  );
  -webkit-background-clip: text;
  /* background-clip: text; */
  color: transparent;
}

#playerName {
  grid-column: 1 / 6;
  grid-row: 6 / 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#playerName p {
    font-size: 0.5rem;;
}

#pName {
  height: 45%;
  border-radius: 5px;
  border-color: #ff8000;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
  width: 30%;
}

#levelSelection {
  grid-column: 1 / 6;
  grid-row: 8 / 11;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#levelSelection img {
  max-width: 30%;
  max-height: 30%;
}

#levelSelection p {
  margin-right: 10px;
  align-self: center;
}

#levelSelection button {
  height: 60%;
  margin: 0 3% 0 3%;
  padding: 0 5% 0 5%;
  cursor: grab;
  border-radius: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

#buttons {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#buttons button {
  font-size: 1.3rem;
}

#easy {
  background: #6ad301;
}

#medium {
  background: #ff8000;
}

#hard {
  background: #ff0044;
}

footer {
  grid-column: 1 / 6;
  grid-row: 11 / 13;
  justify-content: center;
  display: flex;
}

@media (max-width: 650px) {
  header {
    grid-row: 1 / 6;
  }
  #playerName {
    grid-row: 6 / 9;
  }
  #levelSelection {
    grid-row: 9 / 12;
  }
  #buttons button {
    font-size: 1rem;
  }
  #pName {
      width: 50%;
  }
}

@media (max-width: 480px) {
  #buttons span {
    display: none;
  }
}

footer ul {
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  align-items: flex-end;
}

footer li {
  margin: 0 30px 10px 30px;
  display: block;
}
