@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #262626;
    color: white;
    box-sizing: border-box;
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#status {
    align-self: flex-end;
}

#gameBoard {
    width: 70%;
    grid-template-columns: 2;
    grid-template-rows: 2;
    margin: 0 10% 10% 10%;
}

.gameBlocks {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    cursor: grab;
}

.row {
    display: flex;
}

#top-left {
    background: #74BF04;
    border: #74BF04 solid 3px;
}

#top-right {
    background: #FFA900;
    border: #FFA900 solid 3px;
}

#bottom-left {
    background: #FF36AF;
    border: #FF36AF solid 3px;
}

#bottom-right {
    background: #1EA4D9;
    border: #1EA4D9 solid 3px;
}

.active #top-left {
    background: #80FF00;
}

#top-right .active {
    background: #FFFF00;
}

#bottom-left .active {
    background: #FF0080;
}

#bottom-right .active {
    background: #00FFFF;
}

#top-left:hover {
    border: #63a303 solid 3px;
}

#top-right:hover {
    border: #d48e01 solid 3px;
}

#bottom-left:hover {
    border: #c40377 solid 3px;
}

#bottom-right:hover {
    border: #16759b solid 3px;
}

#startBtn {
    background: #A50CE8;
    width: 25%;
    border-radius: 10px;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    cursor: grab;
}